---
layout: default
---

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Facing</th>
          <th>Size</th>
          <th>City</th>
          <th>Pdf</th>
        </tr>
        {% assign lastGroup = "" %} {% for member in site.data.inventory %} {% assign
        currentGroup = member.group %} {% if currentGroup != lastGroup %}

        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>{{ member.groupName }}</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% endif %}
        <tr>
          <td>
            <button
              class="btn btn-primary"
              style="width: 150px;"
              data-toggle="modal"
              data-target="#{{ member.signId }}"
            >
              {{ member.signId }}
            </button>
          </td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a target="_blank" href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf pdf-inventory"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% assign lastGroup = currentGroup %} {% endfor %}
      </table>
    </div>
  </div>
</section>

{% for member in site.data.inventory %}
<div
  id="{{ member.signId }}"
  class="modal fade bs-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-body">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">{{ member.signId }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <img src="assets/images/signs/{{ member.image }}" alt="{{ member.signId }}" />
          <br />
          <br />
          <h4>{{ member.detailTitle }}</h4>
          <p>{{ member.detailDescription }}</p>
          <table class="table">
            <tbody>
              <tr>
                <td>Panel ID#</td>
                <td>{{ member.signId }}</td>
              </tr>
              <tr>
                <td>City</td>
                <td>{{ member.city }}, CA {{ member.zip }}</td>
              </tr>
              <tr>
                <td>GPS</td>
                <td>
                  <a
                    target="_blank"
                    href="https://www.google.com/maps/search/?api=1&query={{
                      member.lat
                    }},{{ member.long }}"
                    >{{ member.lat }} {{ member.long }}</a
                  >
                </td>
              </tr>
              <tr>
                <td>D.E.C</td>
                <td>{{ member.dec }}</td>
              </tr>
              <tr>
                <td>A18 + Weekly Impressions</td>
                <td>{{ member.weeklyImpressions }}</td>
              </tr>
              <tr>
                <td>TAB #</td>
                <td>{{ member.tab }}</td>
              </tr>
              {% if member.detailPDF != null %}
              <tr>
                <td>PDF</td>
                <td>
                  <a target="_blank" href="assets/pdfs/Signs/{{ member.detailPDF }}"
                    ><i class="far fa-file-pdf pdf-inventory-detail"></i
                  ></a>
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
          <br />

          <h3>Send us an Email</h3>

          <div data-alert-type="inline">
            <div class="contact-form-result"></div>

            <form
              class="nobottommargin"
              id="{{ member.signId }}-form"
              name="template-contactform"
              action="include/sendemail.php"
              method="post"
            >
              <div class="form-process"></div>

              <div class="col_one_third">
                <label for="template-contactform-name">Name <small>*</small></label>
                <input
                  type="text"
                  id="template-contactform-name"
                  name="template-contactform-name"
                  value=""
                  class="sm-form-control required"
                />
              </div>

              <div class="col_one_third">
                <label for="template-contactform-email">Email <small>*</small></label>
                <input
                  type="email"
                  id="template-contactform-email"
                  name="template-contactform-email"
                  value=""
                  class="required email sm-form-control"
                />
              </div>

              <div class="col_one_third col_last">
                <label for="template-contactform-phone">Phone</label>
                <input
                  type="text"
                  id="template-contactform-phone"
                  name="template-contactform-phone"
                  value=""
                  class="sm-form-control"
                />
              </div>

              <div class="clear"></div>

              <div class="col_two_third">
                <label for="template-contactform-subject">Subject <small>*</small></label>
                <input
                  type="text"
                  id="template-contactform-subject"
                  name="template-contactform-subject"
                  value="{{ member.signId }} Inquiry"
                  class="required sm-form-control"
                />
              </div>

              <div class="col_one_third col_last">
                <label for="template-contactform-service">Services</label>
                <select
                  id="template-contactform-service"
                  name="template-contactform-service"
                  class="sm-form-control"
                >
                  <option value="">-- Select One --</option>
                  <option value="Option1">Option1</option>
                  <option value="Option2">Option2</option>
                  <option value="Option3">Option3</option>
                  <option value="Option4">Option4</option>
                </select>
              </div>

              <div class="clear"></div>

              <div class="col_full">
                <label for="template-contactform-message">Message <small>*</small></label>
                <textarea
                  class="required sm-form-control"
                  id="template-contactform-message"
                  name="template-contactform-message"
                  rows="6"
                  cols="30"
                ></textarea>
              </div>

              <div class="col_full hidden">
                <input
                  type="text"
                  id="template-contactform-botcheck"
                  name="template-contactform-botcheck"
                  value=""
                  class="sm-form-control"
                />
              </div>
              <input
                type="hidden"
                name="_next"
                value="http://localhost:4000/inventory.html"
              />
              <div class="col_full">
                <button
                  class="button button-3d nomargin"
                  type="submit"
                  id="template-contactform-submit"
                  name="template-contactform-submit"
                  value="submit"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
          <div class="col_two_third nobottommargin"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- https://github.com/formspree/formspree
     Using Formspree to send emails.-->
<script>
  var contactform = document.getElementById("{{member.signId}}-form");
  contactform.setAttribute(
    "action",
    "//formspree.io/" + "kyler.figgins" + "@" + "gmail" + "." + "com"
  );
</script>
{% endfor %}

<style>
  .pdf-inventory {
    font-size: 25px;
  }
  .pdf-inventory-detail {
    font-size: 25px;
  }
</style>
