---
layout: default
---

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Facing</th>
          <th>Size</th>
          <th>City</th>
          <th>Pdf</th>
        </tr>
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>91 & I-15 in CORONA</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "corona" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>60 Freeway in ONTARIO</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "ontario" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>I-15 in RANCHO CUCAMONGA</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "cucamonga" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>I-15 in LAKE ELSINORE</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "elsinore" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>I-15 in EASTVALE</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "eastvale" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>I-10 in FONTANA</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "fontana" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>210 in RIALTO</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "rialto" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>710 in COMMERCE</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "commerce" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>215 in SAN BERNARDINO</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "bernadino" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>215 in PERRIS</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "perris" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>RIALTO / RIVERSIDE AVE. @ 210 FWY</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "riverside" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>MORONGO / CABAZON</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "cabazon" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
        <tr style="background-color: rgba(0,0,0,0.05);">
          <th>BARSTOW AREA</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for member in site.data.inventory %} {% if member.group == "barstow" %}
        <tr>
          <td>{{ member.signId }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.facing }}</td>
          <td>{{ member.size }}</td>
          <td>{{ member.city }}</td>
          <td>
            {% if member.detailPDF != null %}
            <a href="assets/pdfs/Signs/{{ member.detailPDF }}"
              ><i class="far fa-file-pdf"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
      </table>
    </div>
  </div>
</section>
